<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="" src="">
</div>
<h2>Movies of the Day: </h2>
<ol>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
  <li>
    <h2><a> </a></h2>
  </li>
</ol>

<router-outlet></router-outlet>
